.page {
    display: none;
}

.page.active {
    display: block;
}

body.not-authenticated .role-logged-in {
    display: none;
}

body.authenticated .role-logged-out {
    display: block;
}

.role-isadmin {
    display: none;
}

body.isadmin .role-admin {
    display: block;
}

.text-active {
    color: white;
}
